<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/sites/style.css">
        <script type="text/javascript" src="/sites/script.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>